#############################################################################################################
#
# jointLklDM CONFIGURATION FILE FOR REPRODUCING THE RESULTS OF FERMI-LAT PAPER:
# Ackermann, M. et al. Phys. Rev. Lett., 115 (2015) 231301
# Data files available at http://www-glast.stanford.edu/pub_data/1048/
# 
#############################################################################################################

#################
I/O CONFIGURATION
#################

# Label to indentify this analysis (for naming plots and output files)
jointLklDM.Label: LAT_dSph_2015

# Path (will be added to all specified files and directories in this rcfile)
jointLklDM.path: ./

# Directory with data files
jointLklDM.dataDir: data/Fermi-2015-results-pre-release-V2/fermi_p302_dsphs_like_all/

# Directory with dN/dE files
jointLklDM.dNdEDir: DM/dNdE/Cirelli/

# Directory for output plots
jointLklDM.plotsDir: ../plots/LAT_dSph_2015

######################
ANALYSIS CONFIGURATION
######################

# channel to be analyzed (bb, cc, tt, tautau, mumu, WW, ZZ, hh, gammagamma, pi0pi0, pi0gamma, ee, branon or an arbitrary linear combination of them)
# The linear combination must be written this form:'br_1*channel_1+...+br_n*channel_n'!
jointLklDM.Channel: bb

# list of DM masses to be considered (in GeV)
jointLklDM.MassList: 10 15 20 30 50 80 100 150 200 300 500 1000 1500 2000 3000 5000 10000 

# if TRUE (FALSE) g is restricted to positive values only (i.e. Fermi prescription for lkl maximizing out of the physical region)
jointLklDM.isGpositive: TRUE

# Delta(-2logLkl) for limits (2.71 = 95% CL, 4.495 = 5sigma)
jointLklDM.deltaLogLkl: 2.71

##############################
JOINT LIKELIHOOD CONFIGURATION
##############################

# Now include one line per likelihood function term, with the following general syntaxis:
#    jointLklDM.lklTerm<XXX>: <termType> <parentTerm> [<options>]
#
# where:
# <XXX>        is an unique index identifying the lkl term (appearing <XXX> indeces must be consecutive)
# <termType>   is the name of the class descibing the lkl term (JointLkl, Iact1dUnbinnedLkl, Iact1dBinnedLkl, FermiTables2016Lkl)
# <parentTerm> is the <XXX> index of a JointLkl term (with lower index) to which the lkl term is associated (or "-" for the main JointLkl term)
# <options>    is a list of different options, with format <opt1_name>=<opt1_value> ... <optN_name>=<optN_value>
#              All options are optional (there are default values defined in the class), and can be provided in an arbitrary order
#              The available options differ from class to class, a full description can be found in the documentation of the
#              class constructor, below we provide some examples.
#              Invalid options will be simply ignored, no error or warning message will be issued!
#
# -  Joint Likelihood:
#    jointLklDM.lklTerm<XXX>: JointLkl      <parentTerm> DlogJ=<DlogJ_value>
# -  Unbinned Full Likelihood:
#    jointLklDM.lklTerm<XXX>: Iact1dUnbinnedLkl       <parentTerm> logJ=<logJ_value> DlogJ=<DlogJ_value> inputFileName=<inputFileName> obsTime=<obsTime> tau=<tau> DtauStat=<DtauStat> DtauSyst=<DtauSyst>
# -  Binned Full Likelihood:
#    jointLklDM.lklTerm<XXX>: Iact1dBinnedLkl <parentTerm> logJ=<logJ_value> DlogJ=<DlogJ_value> inputFileName=<inputFileName> nbins=<nbins> minbincontent=<minbincontent> obsTime=<obsTime> tau=<tau> DtauStat=<DtauStat>  DtauSyst=<DtauSyst> tauEDepFluct=<tauEDepFluct> 
# -  Binned Flux Likelihood (Fermi-LAT format):
#    jointLklDM.lklTerm<XXX>: FermiTables2016Lkl <parentTerm> logJ=<logJ_value> DlogJ=<DlogJ_value> inputFileName=<inputFileName>
#
# <logJ             and <DlogJ> are, respectively, the mean value and uncertainty of the log10 of the J factor, in units of GeV^2 cm^-5 (annihilation) or GeV cm^-2 (decay)
# <inputFileName>   is the name of the input file, which contain the IRFs and data 
# <obsTime>         [hour] overrides the observation time provided as part of the input file for sensitivity/limit computation. For simulations, in addition, it is used to compute how many events need to be simulated
# <nbins>           and
# <minbincontent>   are the number of bins and minimum number of events in each bin, in Iact1dBinnedLkl objects
# <tau>             overrides the tau value provided at the data file. For simulations, in addition, it is used to compute how many events need to be simulated
# <DtauStat>        overrides statistical uncertainty in tau provided at the data file. For simulations, in addition, it is used to compute how many events need to be simulated
# <DtauSyst>        is the relative systematic uncertainty in tau (the Off/On normalization factor), e.g. if DtauSyst=0.015 an uncertaintyof 0.015*tau will be added in quadrature to the statistical uncertainty (from data file or rc file).
#                   For simulations, in addition, it is used to compute how many events need to be simulated
# <tauEDepFluct>    can be TRUE or FALSE (default). If true, tau will be allowed to fluctuate independently from energy bin to energy bin
# <dndepbkgfromoff> can be TRUE or FALSE (default). If true, the background distribution (fHdNdEpBkg, for simulations) will be constructed from Off data distribution
# <knownBackground> can be TRUE or FALSE (default). If true, b_i (i=1,...,Nbins) are fixed parameters (as opposed to nuisance). This option is for tests mainly
# <isoffason>       can be TRUE or FALSE (default). If true,  use the Off sample (data or simulatiosn) as if it was the On (for tests). This option is for tests mainly
#
# NOTES:
# - The object for which the minimization is called is lklTerm000, all the other terms should be directly or indirectly associated to lklTerm000 by
#   the relations described by the <parentTerm> values, in an arbitrarily complex tree structure
# - When several terms share the same logJ and dLogJ, the corresponding value of logJ must be specified for each of them, whereas the value of
#   dLogJ only once for their common parent term. This is so because logJ is used to transform excess events into <sv> units whereas a non-zero
#   DlogJ indicates that the uncertainty in the units of a particular lkl term is an *independent* random variable.
#
jointLklDM.lklTerm000: JointLkl -   DlogJ=0
jointLklDM.lklTerm001: FermiTables2016Lkl 0   logJ=18.8  DlogJ=0.22  inputfile=like_bootes_I.txt
jointLklDM.lklTerm002: FermiTables2016Lkl 0   logJ=17.9  DlogJ=0.25  inputfile=like_canes_venatici_II.txt
jointLklDM.lklTerm003: FermiTables2016Lkl 0   logJ=18.1  DlogJ=0.23  inputfile=like_carina.txt
jointLklDM.lklTerm004: FermiTables2016Lkl 0   logJ=19.0  DlogJ=0.25  inputfile=like_coma_berenices.txt
jointLklDM.lklTerm005: FermiTables2016Lkl 0   logJ=18.8  DlogJ=0.16  inputfile=like_draco.txt
jointLklDM.lklTerm006: FermiTables2016Lkl 0   logJ=18.2  DlogJ=0.21  inputfile=like_fornax.txt
jointLklDM.lklTerm007: FermiTables2016Lkl 0   logJ=18.1  DlogJ=0.25  inputfile=like_hercules.txt
jointLklDM.lklTerm008: FermiTables2016Lkl 0   logJ=17.6  DlogJ=0.18  inputfile=like_leo_II.txt
jointLklDM.lklTerm009: FermiTables2016Lkl 0   logJ=17.9  DlogJ=0.28  inputfile=like_leo_IV.txt
jointLklDM.lklTerm010: FermiTables2016Lkl 0   logJ=18.6  DlogJ=0.18  inputfile=like_sculptor.txt
jointLklDM.lklTerm011: FermiTables2016Lkl 0   logJ=19.5  DlogJ=0.29  inputfile=like_segue_1.txt
jointLklDM.lklTerm012: FermiTables2016Lkl 0   logJ=18.4  DlogJ=0.27  inputfile=like_sextans.txt
jointLklDM.lklTerm013: FermiTables2016Lkl 0   logJ=19.3  DlogJ=0.28  inputfile=like_ursa_major_II.txt
jointLklDM.lklTerm014: FermiTables2016Lkl 0   logJ=18.8  DlogJ=0.19  inputfile=like_ursa_minor.txt
jointLklDM.lklTerm015: FermiTables2016Lkl 0   logJ=19.1  DlogJ=0.31  inputfile=like_willman_1.txt